<!DOCTYPE html>
<header class="site-header p-2 w-100 navbar-fondo mb-2 text-light">
    <div class="container d-flex justify-content-between align-items-center">
        <span class="app-logo">Pregunta3!</span>
        <div class="botones-header d-flex w-25 justify-content-around">
            <span (click)="home()">Home</span>
            <span (click)="perfil()">Perfil</span>
            <a href="/login">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
</header>