.tabla-preguntas {
    max-height: 15rem;
    overflow-y: scroll;
}

.fila-amigo {
    background-color: var(--colorPrimarioOscuro)
}

.borderless td, .borderless th {
    border: none;
}

.tabla-preguntas th {
    background-color: var(--colorPrimarioOscuro);
}

.tabla-preguntas td {
    background-color: var(--primarioTransparente);
}

.modal-header {
    background-color: var(--colorPrimarioOscuro);
}

.modal-body, .modal-footer {
    background-color: var(--primarioTransparente);
}

.listado-amigos {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.listado-amigos_titulo {
    color: rgb(214, 214, 214);
    font-weight: bold;
}

#modalModificaciones .modal-dialog {
    max-width: none;
    width: 90rem;
}