
.seccion-busqueda {
    height: 30%;
}

.seccion-preguntas {
    height: 70%;
}

.preguntas {
    gap: 2rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.pregunta {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30%;
    height: 8rem;
    font-size: .8rem;
}