<!DOCTYPE html>
<app-header></app-header>
<div class="body w-100">
    <main class="seccion-busqueda container d-flex flex-column justify-content-end w-100">
        <label for="busqueda">
            <h5 class="font-weight-600">Busque una pregunta</h5>
        </label>
        <div class="ml-4 busqueda-input-boton d-flex justify-content-center w-100">
            <input class="form-control w-75" type="text" id="busqueda" #pregunta>
            <div class="w-25 d-flex justify-content-center">
                <button class="btn boton-primario btn-sm boton-buscar" (click)="buscar(pregunta)">Buscar</button>
            </div>
        </div>
        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" id="solo-activas" [(ngModel)]="checkBoxActivado">
            <label class="form-check-label small" for="solo-activas">
                Sólo activas
            </label>
        </div>
    </main>
    <section class="seccion-preguntas container d-flex flex-column justify-content-start mt-4 font-weight-500">

        <div class="header-seccion d-flex justify-content-between mb-3 align-items-center">
            <h5 class="font-weight-600">Resultados de la búsqueda</h5>
            <button class="btn btn-sm boton-primario text-light" (click)="nuevaPregunta()">+ Nueva pregunta</button>
        </div>
        <div class="preguntas d-flex flex-wrap justify-content-between">
            <div *ngFor="let pregunta of preguntas">
                <app-card-pregunta [pregunta]="pregunta">
                </app-card-pregunta>
            </div>
        </div>
    </section>
</div>