<!DOCTYPE html>
<app-header></app-header>
<div class="container">
    <main class="card w-100 d-flex flex-column card-grande card-fondo">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title font-weight-500">{{this.pregunta.pregunta}}</h4>
            <p>Autor/a: {{this.pregunta.nombreAutor}}</p>
        </div>
        <div class="card-body cuerpo-editar-pregunta d-flex flex-column">
            
            <div class="respuestas">
                <div *ngFor="let opcion of opciones">
                    <app-card-opcion
                    [opcion]="opcion"
                    >
                    </app-card-opcion>
                </div> 
            </div>
            <div>
                <p>Es {{this.pregunta.type}}, otorga {{this.pregunta.puntos}} puntos</p>
            </div>
        </div>


        <div class="botones-aceptar-cancelar w-100 d-flex justify-content-end p-2">
            <button class="btn boton-primario" (click)="aceptar()">Aceptar</button>
            <button class="btn btn-primary ml-3" (click)="cancelar()">Cancelar</button>
        </div>
    </main>
</div>