<!DOCTYPE html>
<main class="login-container fondo-svg d-flex justify-content-center align-items-center">
    <div>
        <form class="card p-4 text-center" action="#">
            <span class="app-logo">Pregunta3<span>!</span></span>
            <p class="h5 mt-3 mb-2">Iniciar sesión</p>
            <input type="text" class="form-control mb-4" placeholder="Usuario">
            <input type="password" class="form-control mb-4" placeholder="Contraseña">
            <button class="btn btn-block boton-primario" type="submit" (click)="ingresar()">Ingresar</button>
        </form>
    </div>
</main>