.login-container {
    height: 100vh;
}

.app-logo {
    font-size: 3rem;
}

.alert {
    position: fixed;
    top: 14%;
}

.ingresar-invitado {
    cursor: pointer;
    transition: color .1s ease-in;
}

.ingresar-invitado:hover {
    color: grey;
}